<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PasswordGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <PasswordGenerator.Properties.Settings>
            <setting name="Capitals" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Digits" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Symbols" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Length" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="SymbolsString" serializeAs="String">
                <value>! @ # $ % ^ &amp; * - '</value>
            </setting>
        </PasswordGenerator.Properties.Settings>
    </userSettings>
</configuration>
